.classpath
.externalToolBuilders/*
.project

jpf-core/.classpath
jpf-core/.externalToolBuilders/*
jpf-core/.project
jpf-core/.metadata/*
.metadata/*
lib/*

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
